@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: "OpenSans", sans-serif;
	margin-top: 20px;
	text-align: center;
}
#container {
	display: inline-block;
	max-width: 380px;
	padding-bottom: 20px;
}
#message {
	margin: 0 5px;
}
button {
	font-size: 25px;
	color: white;
	background-color: orange;
	padding: 15px 20px;
	border-style: none;
	border-radius: 5px;
}
button:hover {
	color: #fffcfc;
	background-color: #f0a500;
}
button:focus, input[type="button"]:focus {
    outline: none;
}
#timer-face {
	background: rgba(153, 204, 255, 0.35);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
	margin: 25px 5px;
}
#pomodoro-buttons {
	display: inline-block;
	margin-right: 4px;
}
#break-buttons {
	display: inline-block;
	margin-left: 4px;
}
#resets {
	margin-top: 15px;
}
#resets button {
	margin: 13px 10px;
}

.adjusters div {
	display: inline-block;
}
#reset-value, #break-reset-value {
	vertical-align: middle;
	margin: 0 3px;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.75);
}
#pomodoro-plus, #pomodoro-minus, 
#break-plus, #break-minus {
	color: white;
	background-color: orange;
	width: 16px; 
	padding: 2px;
	border-radius: 3px;
}
#pomodoro-minus, #break-minus {
	font-weight: bold;
}
#pomodoro-plus:hover, #pomodoro-minus:hover, 
#break-plus:hover, #break-minus:hover {
	background-color: #f0a500;
	color: #fffcfc;
}
/* to stop text cursor from appearing */
.adjusters:hover {
	cursor: default;
}
.set-label {
	display: block;
	color: rgba(0, 0, 0, 0.75);
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
#timer {
	margin: -10px;
	font-size: 100px;
	font-weight: bold;
}
#minutes {
	display: inline;
	margin-right: -20px;
}
#colon {
	display: inline;
}

#seconds {
	display: inline;
	margin-left: -20px;
}
#playButtons {
margin-top: 10px;
}
#playButtons button {
	width: 200px;
}
.timer {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}