@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: "OpenSans", sans-serif;
	margin-top: 40px;
	text-align: center;
}
#container {
	display: inline-block;
	max-width: 380px;
	padding-bottom: 20px;
}
#message {
	margin: 0 5px;
}
button {
	font-size: 25px;
	color: white;
	background-color: orange;
	padding: 15px 20px;
	border-style: none;
	border-radius: 5px;
}
#timer-face {
	background: rgba(153, 204, 255, 0.5);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 25px;
	margin: 25px 5px;
}
#pomodoro-buttons {
	display: inline-block;
	margin-right: 4px;
}
#break-buttons {
	display: inline-block;
	margin-left: 4px;
}
#resets button {
	margin: 13px 10px;
}
.adjusters div {
	margin-top: 10px;
	display: inline-block;
}
#pomodoro-plus, #pomodoro-minus, 
#break-plus, #break-minus {
	color: white;
	background-color: orange;
	width: 16px; 
	padding: 2px;
	border-radius: 3px;
}
#pomodoro-minus, #break-minus {
	font-weight: bold;
}
.set-label {
	margin: 0 2px;
}
#timer {
	margin: -10px;
	font-size: 100px;
	font-weight: bold;
}

#minutes {
	display: inline;
	margin-right: -20px;
}

#colon {
	display: inline;
}

#seconds {
	display: inline;
	margin-left: -20px;
}

#playButtons {
margin-top: 10px;
}

#playButtons button {
	width: 200px;
}

.timer {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}